.sudoku_number {
    height: inherit;
    width: inherit;
    background-color: inherit;
    text-align: center;
    font-size: 200%;
}

.sudoku-solving {
}

.sudoku-not-solved {
    height: inherit;
    width: inherit;
    max-width: 40px;
    text-align: center;
    font-size: 10pt;
    letter-spacing: 5px;
    word-wrap: break-word;
}

.highlight {
  color: #000;
  transition: background 0.5s linear;
}

.grid {
  width: 477px; /*157 * 3 - 1 */
  height: 475px; /* Not sure why this is less */

  /*Center horizontally*/
  display: block;
  margin: auto;
  border: 2px solid blue;
}

.update_message {

  /*Center horizontally*/
  display: block;
  margin: auto;
  width: 500px;
}

.grid-block {

  /*Maintain row width while wrapping next row around*/
  display: inline-block;
  float: left;
  width: 157px;
  border: 1px solid white;
}

/*Alternate colors blue and gray*/

.grid-block:nth-child(odd) {
  background-color: powderblue;
}

.grid-block:nth-child(even) {
  background-color: Gainsboro;
}

.cell {
  /*Size cells*/
  width: 50px;
  height: 50px;
  border: 1px solid white;

  /*Gets cells to move to left of row.*/
  float: left;
}

.input-cell {
  /*Align text within cells.*/
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.solving-cell {
  /*Align text within cells.*/
  /*text-align: center;
  vertical-align: middle;
  line-height: 16px;
  font-size: 8pt;*/
}

.toggle-buttons {
    margin-top: 10px;
}

#submit_button {
    /*Put ten pixels below Sudoku*/
    margin-top: 10px;
}
