<head>
   <title>Main page</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/style.css') }}">
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
   <div class="grid">
      <div class="grid-block">
         <div id="A1" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='A1'>123456789</div>
         </div>
         <div id="A2" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='A2'>123456789</div>
         </div>
         <div id="A3" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='A3'>123456789</div>
         </div>
         <br>
         <div id="B1" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='B1'>123456789</div>
         </div>
         <div id="B2" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='B2'>123456789</div>
         </div>
         <div id="B3" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='B3'>123456789</div>
         </div>
         <br>
         <div id="C1" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='C1'>123456789</div>
         </div>
         <div id="C2" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='C2'>123456789</div>
         </div>
         <div id="C3" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='C3'>123456789</div>
         </div>
       </div>
       <div class="grid-block">
         <div id="A4" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='A4'>123456789</div>
         </div>
         <div id="A5" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='A5'>123456789</div>
         </div>
         <div id="A6" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='A6'>123456789</div>
         </div>
         <br>
         <div id="B4" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='B4'>123456789</div>
         </div>
         <div id="B5" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='B5'>123456789</div>
         </div>
         <div id="B6" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='B6'>123456789</div>
         </div>
         <br>
         <div id="C4" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='C4'>123456789</div>
         </div>
         <div id="C5" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='C5'>123456789</div>
         </div>
         <div id="C6" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='C6'>123456789</div>
         </div>
       </div>
       <div class="grid-block">
         <div id="A7" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='A7'>123456789</div>
         </div>
         <div id="A8" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='A8'>123456789</div>
         </div>
         <div id="A9" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='A9'>123456789</div>
         </div>
         <br>
         <div id="B7" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='B7'>123456789</div>
         </div>
         <div id="B8" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='B8'>123456789</div>
         </div>
         <div id="B9" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='B9'>123456789</div>
         </div>
         <br>
         <div id="C7" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='C7'>123456789</div>
         </div>
         <div id="C8" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='C8'>123456789</div>
         </div>
         <div id="C9" class="cell solving-cell">
            <div class='sudoku-solving sudoku-not-solved' name='C9'>123456789</div>
         </div>
       </div>

       <div class="grid-block">
          <div id="D1" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='D1'>123456789</div>
          </div>
          <div id="D2" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='D2'>123456789</div>
          </div>
          <div id="D3" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='D3'>123456789</div>
          </div>
          <br>
          <div id="E1" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='E1'>123456789</div>
          </div>
          <div id="E2" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='E2'>123456789</div>
          </div>
          <div id="E3" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='E3'>123456789</div>
          </div>
          <br>
          <div id="F1" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='F1'>123456789</div>
          </div>
          <div id="F2" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='F2'>123456789</div>
          </div>
          <div id="F3" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='F3'>123456789</div>
          </div>
        </div>
        <div class="grid-block">
          <div id="D4" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='D4'>123456789</div>
          </div>
          <div id="D5" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='D5'>123456789</div>
          </div>
          <div id="D6" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='D6'>123456789</div>
          </div>
          <br>
          <div id="E4" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='E4'>123456789</div>
          </div>
          <div id="E5" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='E5'>123456789</div>
          </div>
          <div id="E6" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='E6'>123456789</div>
          </div>
          <br>
          <div id="F4" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='F4'>123456789</div>
          </div>
          <div id="F5" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='F5'>123456789</div>
          </div>
          <div id="F6" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='F6'>123456789</div>
          </div>
        </div>
        <div class="grid-block">
          <div id="D7" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='D7'>123456789</div>
          </div>
          <div id="D8" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='D8'>123456789</div>
          </div>
          <div id="D9" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='D9'>123456789</div>
          </div>
          <br>
          <div id="E7" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='E7'>123456789</div>
          </div>
          <div id="E8" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='E8'>123456789</div>
          </div>
          <div id="E9" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='E9'>123456789</div>
          </div>
          <br>
          <div id="F7" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='F7'>123456789</div>
          </div>
          <div id="F8" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='F8'>123456789</div>
          </div>
          <div id="F9" class="cell solving-cell">
             <div class='sudoku-solving sudoku-not-solved' name='F9'>123456789</div>
          </div>
        </div>

        <div class="grid-block">
           <div id="G1" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='G1'>123456789</div>
           </div>
           <div id="G2" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='G2'>123456789</div>
           </div>
           <div id="G3" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='G3'>123456789</div>
           </div>
           <br>
           <div id="H1" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='H1'>123456789</div>
           </div>
           <div id="H2" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='H2'>123456789</div>
           </div>
           <div id="H3" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='H3'>123456789</div>
           </div>
           <br>
           <div id="I1" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='I1'>123456789</div>
           </div>
           <div id="I2" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='I2'>123456789</div>
           </div>
           <div id="I3" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='I3'>123456789</div>
           </div>
         </div>
         <div class="grid-block">
           <div id="G4" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='G4'>123456789</div>
           </div>
           <div id="G5" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='G5'>123456789</div>
           </div>
           <div id="G6" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='G6'>123456789</div>
           </div>
           <br>
           <div id="H4" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='H4'>123456789</div>
           </div>
           <div id="H5" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='H5'>123456789</div>
           </div>
           <div id="H6" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='H6'>123456789</div>
           </div>
           <br>
           <div id="I4" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='I4'>123456789</div>
           </div>
           <div id="I5" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='I5'>123456789</div>
           </div>
           <div id="I6" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='I6'>123456789</div>
           </div>
         </div>
         <div class="grid-block">
           <div id="G7" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='G7'>123456789</div>
           </div>
           <div id="G8" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='G8'>123456789</div>
           </div>
           <div id="G9" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='G9'>123456789</div>
           </div>
           <br>
           <div id="H7" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='H7'>123456789</div>
           </div>
           <div id="H8" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='H8'>123456789</div>
           </div>
           <div id="H9" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='H9'>123456789</div>
           </div>
           <br>
           <div id="I7" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='I7'>123456789</div>
           </div>
           <div id="I8" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='I8'>123456789</div>
           </div>
           <div id="I9" class="cell solving-cell">
              <div class='sudoku-solving sudoku-not-solved' name='I9'>123456789</div>
           </div>
         </div>
       </div>
    <div class="update_message">
    </div>

  <script>
// This function updates the classes of all the "sudoku-solving" cells. It is used because
// if a cell only has one possible value, it is solved, and we should assign it the
// "sudoku_number" class which enlarges the text.
  function updateClasses(input_sudoku) {
  var numbers = $(".sudoku-solving");
  numbers.each(function() {
    var candidate_numbers = input_sudoku[$(this).attr("name")];
    if (candidate_numbers.length == 1) {
      $(this).text(candidate_numbers);
      $(this).addClass("sudoku_number");
      $(this).removeClass("sudoku-not-solved");
      }
    });
  };
  </script>

<!-- If we have received an "input_sudoku" argument, from the render_template
sudoku_action template, for example, then:
- Update the classes of the cells appropriately.
- Append an "SVG" to the bottom of the grid that will display our message.
- This particular block will only be run once, upon receiving the original Sudoku
values from sudoku_action. -->
  {% if input_sudoku %}
  <script>
  var input_sudoku = {{input_sudoku|safe}}
  var input_keys = Object.keys(input_sudoku);
  updateClasses(input_sudoku);

  var message_area = d3.selectAll(".update_message")
  .append("svg")
  .attr("width", 500)
  .attr("height", 100);
  </script>
  {% endif %}

<!-- This function extracts a dictionary from the page representing state of the grid
at a given time: e.g. {"A1": "234", "A2": 5, "A3": "1234567", ...} etc.  -->
  <script>
   function extractData() {
      output_dict = {};
      var numbers = $(".sudoku-solving");
      numbers.each(function() {
         output_dict[$(this).attr('name')] = $(this).text();
      })
      return output_dict;
    };

// This function takes in a new "state of the board and applies it to the board,
// specifically to everything with a "sudoku-solving" class.
  function displayNewData(update_sudoku) {
     var numbers = $(".sudoku-solving");
     numbers.each(function() {
       $(this).text(update_sudoku[$(this).attr('name')]);
     });
   };

// This function displays a message in the "message_area" svg element. It transitions
// the message in, waits, and then transitions it out.
   function displayMessage(message) {
    var variable_message = message_area.append("text")
    .text(message)
    .attr("x", 100)
    .attr("y", 80)
    .attr("fill", "red")
    .attr("opacity", 0)
    .transition()
      .duration(500)
      .attr("y", 50)
      .attr("opacity", 1)
    .transition()
      .duration(500)
    .transition(500)
      .attr("y", 80)
      .attr("opacity", 0);
    };

// This function highlights cells by first finding the cell with the appropriate id,
// adding the styling of the class "highlighted-cell", waiting for a bit, and then
// removing the styling.
    function highlightCell(cell) {
      $('#'.concat(cell)).addClass('highlighted-cell')
      setTimeout(function() {
        $('#'.concat(cell)).removeClass('highlighted-cell');
      }, 2000)
    };

// This is the key function. It:
// - Feeds in the data from the "extractData" function representing the current state
// of the board.
// - Makes a call to the Python "update_one" function and gets a state of the board back.
// - Updates the classes (enlarging the cells that now only have one value left)
// - Displays the new data
// - Displays a message based on what has been updated
// - Highlights the cell that has been update.
// - Calls the function again!
  function callFlaskUpdateOne() {
      $.ajax({
        url: {{ url_for('update_one')}},
        data: extractData(),
        type: 'POST',
        success: function(response) {
          updateClasses(response['values']);
          displayNewData(response['values']);
          displayMessage(response['message'])
          highlightCell(response['peer']);
          callFlaskUpdateOne();
        },
        error: function(error) {
          console.log(error);
        }
    })
  };

  callFlaskUpdateOne();
   </script>
</body>
